.search-menu {
    display: flex;
    flex: 1 1 auto;
}

.search-menu .form_input {
    width: 30%;
    max-width: 400px;
    min-width: 200px;
    margin-right: 1em;
}

.search-menu .form_submit {
    width: 180px;
    font-size: 0.8em;
    margin-right: 1em;
}
