.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.97);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup .round_btn {
    margin-bottom: 1em;
}

.popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 300px;
}

.popup form .form_input {
    margin-bottom: 1em;
}

.popup .form_submit {
    margin-top: 2em;
}